@font-face {
  font-family: 'iconfont';  /* Project id 5077468 */
  src: url('//at.alicdn.com/t/c/font_5077468_tesak6cfv3.woff2?t=1766030277554') format('woff2'),
       url('//at.alicdn.com/t/c/font_5077468_tesak6cfv3.woff?t=1766030277554') format('woff'),
       url('//at.alicdn.com/t/c/font_5077468_tesak6cfv3.ttf?t=1766030277554') format('truetype');
}

.icon{
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: currentColor;
  font-family: 'iconfont' !important;
  font-size: inherit;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-blog::before { content: "\e63c"; }
.icon-coin::before { content: "\e631"; }
.icon-GitHub::before { content: "\e8c6"; }
.icon-roguelike::before { content: "\e650"; }
.icon-run::before { content: "\e886"; }
.icon-star::before { content: "\e603"; }
.icon-block::before { content: "\e627"; }
.icon-plane::before { content: "\e65b"; }
.icon-toy::before { content: "\e6ac"; }
.icon-component::before { content: "\e652"; }
.icon-snake::before { content: "\e848"; }
.icon-save::before { content: "\e7b7"; }
.icon-christmas::before { content: "\e783"; }



